/*Style Admin BankU*/

/*General*/
html, body{
	overflow-x: hidden;
}
html{
	font-size: 16px;
}
body{
	background-color: #f8f8f6;
	color: #263746;
	font-weight: 400;
}
a{
	color: #263746;
	text-decoration: none;
}
p{
	color: #565656;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.6em;
}
h5{
	font-size: 1.3em;
}
strong {
	color: #263746;
    font-weight: 600;   
}
.clear{
	float: none;
	clear: both;
}
.btn, .btn-large, .btn-flat {
    text-transform: initial;
    border-radius: 5px;
}
.margin-top-40{
	margin-top: 40px!important
}
.margin-top-20{
	margin-top: 20px!important
}
.margin-top-0{
	margin-top: 0!important;
}
.margin-bottom-40{
	margin-bottom: 40px!important
}
.margin-bottom-0{
	margin-bottom: 0!important;
}
.padding-5{
	padding: 5px!important
}
.btn-face{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#365cc3+0,3052a8+100 */
	background: rgb(54,92,195)!important; /* Old browsers */
	background: -moz-linear-gradient(left, rgba(54,92,195,1) 0%, rgba(48,82,168,1) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(54,92,195,1) 0%,rgba(48,82,168,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(54,92,195,1) 0%,rgba(48,82,168,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365cc3', endColorstr='#3052a8',GradientType=1 ); /* IE6-9 */
	position: relative;
}
.btn-face:after{
	content: "";
	background-image: url(../images/iconFacabook.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 5px;
	top: 0;
	width: 42px;
	height: 54px;
	background-size: 35px;
	border-right: solid 1px rgba(255, 255, 255, 0.5);
	background-position-y: 8px;
}


/*NAV*/
nav {
    background-color:#263746;
}
nav .brand-logo {
    margin-top: 0px;
    background: #fff;
    padding: 10px 10px 0;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}
nav ul li{
	position: relative;
}
.nav-dropdown {
    width: 260px!important;    
    top: initial!important;
    left: initial!important;           
    position: relative;
	background: #ffffff;
	overflow: initial;
	right: 0;
}
.nav-dropdown:after {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.dropdown-content li>a>i {
    margin: 0;
}
.dropdown-content li>a, .dropdown-content li>span {
    color:#263746;
}
.dropdown-content li>a:hover {
    background-color: rgba(0, 0, 0, 0.05)!important;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
}



/*Profile*/
.profile .wrapper {
    margin: 100px 0 60px;
}
.profile .card-panel {
    padding: 4px 0 0;
}
.item-profile{
	position: relative;
}

.item-profile h5 {
    font-size: 1.4rem;
    line-height: 130%;
}
.item-profile h5 small{
    color: #565656
}

.item-profile li{
	font-size: 20px;
	border-bottom: solid 1px #565656;
	padding: 30px 0;
}
.item-profile li .material-icons.right {
    font-size: 30px;
    position: absolute;
    right: 0
}
.item-profile .switch {
    float: right;
}
.pag-nav{
	position: relative;
}
.btn-nav-pag{
	position: absolute;
	right: 0;
	top: -60px
}
.star-user i {
	font-size: 3em;
	color: #dedede;
	margin-top: 10px
}
.edit-profile .avatar-edit{
	width: 100%;		
	position: relative;
	margin-top: 20px
}
.edit-profile .avatar-edit img{
	width: 200px
}
.btn-floating.halfway-fab {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(30px);
}


/*Footer*/
#footer {
    background: #f2f2f2;
    padding: 20px 0;
    position: fixed ;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.page-footer {
    color: #263746;
    background-color: transparent;
}
.page-footer .footer-copyright {
    color: #263746;
    font-size: 12px;
}



.footer-nav{
	position: fixed;
	bottom: 0;
	background-color: #263746;
	width: 100%;
	z-index: 9;
}
.footer-nav ul{
	display: block;
	padding: 0;
    margin: 0
}
.footer-nav li{
	color: #fff;
	width: 25%;
	float: left;
	position: relative;
}
.footer-nav li:after{
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	background: rgba(250,250,250,0);
	background: -moz-linear-gradient(top, rgba(250,250,250,0) 0%, rgba(253,253,253,1) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,0)), color-stop(50%, rgba(253,253,253,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(250,250,250,0) 0%, rgba(253,253,253,1) 50%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(250,250,250,0) 0%, rgba(253,253,253,1) 50%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(250,250,250,0) 0%, rgba(253,253,253,1) 50%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(250,250,250,0) 0%, rgba(253,253,253,1) 50%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0 );
}
.footer-nav li:last-child:after{
	background: none;
}
.footer-nav li a{
	color: rgba(255,255,255,0.3);	
}
.footer-nav li.link1 a, .footer-nav li.link2 a, .footer-nav li.link3 a, .footer-nav li.link4 a{		
	text-align: center;
	background-position: center top -95px;
	padding: 65px 5px 5px;
	background-repeat: no-repeat;
	background-size: 80px;
	font-size: 10px;
	display: block; 
	font-weight: 400;
}

.footer-nav li.link1 a{
	background-image: url(../images/iconFooter_01.png);
}
.footer-nav li.link2 a{
	background-image: url(../images/iconFooter_02.png);
}
.footer-nav li.link3 a{
	background-image: url(../images/iconFooter_03.png);
}
.footer-nav li.link4 a{
	background-image: url(../images/iconFooter_04.png);
}
.footer-nav li.link1 a:hover, .footer-nav li.link2 a:hover, .footer-nav li.link3 a:hover, .footer-nav li.link4 a:hover{	
	background-position: center bottom 10px;
	color: rgba(255,255,255,1);
	background-color: rgba(0, 0, 0, 0.1);
}
.footer-nav li.link1 a.active, .footer-nav li.link2 a.active, .footer-nav li.link3 a.active, .footer-nav li.link4 a.active{
	background-color: #ffcb05;
	background-position: center top 10px;
	color: #263746;
}

/*Form*/
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #263746;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #263746;
    -webkit-box-shadow: 0 1px 0 0 #263746;
    box-shadow: 0 1px 0 0 #263746;
}
.form-general-data{
	margin-top: 50px;
}
.btn-register .btn-large {
    width: 300px;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 500
}
.btn-register li{
	margin: 0 0 20px;
}
.btn-find-proyects .btn-large{
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 0;
	width: 100%
}
.btn-register .yellow{
	color: #263746;
}
.brand-register .responsive-img {
    max-width: 50%;
}
.brand-register h4{
	margin-top: 30px;
}
.btn-side-nav a{
	margin: 0!important;
}
.btn-side-nav .btn-large {
    width: 100%;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 500
}
.iconAccess .responsive-img {
    max-width: 80%;
}
.code-phone .input-field.col label {
    left: 0;
    text-align: center;
}
.code-phone input{
	text-align: center;
}

.shadow-demo {
    background-color: #fff;
    width: 170px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #dedede;
    border-radius: 5px
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.1);
}
.switch label input[type=checkbox]:checked+.lever{
	background-color: #84c7c1
}
.switch label input[type="checkbox"]:checked + .lever::after {    
	background-color:#2ecc71;
}



/*Modal*/
#modal2.modal, #modal3.modal, #modal4.modal {
    top: 0%!important;
    width: 100%;
    height: 100%;
    max-height: 100%;    
}
#modal2.modal {
    background-color: rgba(255, 203, 4, 0.95);
}
#modal3.modal {
    background-color: rgba(255, 255, 255, 0.95);
}
#modal3 p{
	color: #263746;
}
#modal3 .modal-close i.close { 
    color: #263746;
    opacity: 0.4;
}
#modal4.modal {
    background-color: rgba(91, 200, 93, 0.95);
}
.content-done{
	text-align: center;
	height: 100%;
}
.content-done i.done{
	font-size: 10em;
	color: #fff;
	border: solid  3px #fff;
	border-radius: 50%;
	padding: 25px
}
.content-done img{
	width: 130px
}
.modal-close i.close {
    font-size: 2em;
    color: rgba(255,255,255,0.5);
    border: solid 2px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.content-done h4{
	font-weight: 600;
	padding-top: 30px;
}
.content-done p{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}
#modal4.modal .content-done p{
	margin: 0 0 20px;
}
#modal4.modal .info-nego p{
	font-size: 13px;
	line-height: 18px
}
#modal4.modal .content-done h4{
	margin-bottom: 0;
	font-size: 2em;
}
#modal4.modal .content-done img{
	width: 60px
}
.content-done hr{
	border-bottom: 1px;
}

/*Bar Progress*/
.progress {
    display: block;
    width: 150px;
    background-color: #c3c8cd;
    margin: .5rem auto 1rem;
}

#progress {
	width: 100%;
	border: none;
	position: relative;
	padding: 0px;
	background: #dedede;
	border-radius: 10px;
	margin-bottom: 40px
}

#percent {
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translateX(-50%);
	width: 100%;
}

#bar {
	height: 5px;
	background-color: #2ecc71;
	width: 30%;
	border-radius: 10px;
}

/*Investment*/
.settings-investment .card-panel {
	padding: 10px;
	margin: 0;
}
.payment-month{
	margin-top: 30px;
}
.payment-month p{
	margin: 0;
}
.payment-month h2{
	padding: 0;
	margin: 0;
	font-weight: 600;
}

.box-messages{
	margin-bottom: 170px;
}
.box-proyect{
	background-color: #8cd88d;	
	border: 1px solid #bdc3c7;
	border-radius: 5px;
	display: table;
    margin-bottom: 20px;
    position: relative;
}
.box-proyect.op2{
	background-color: #ffda50;	
}
.box-proyect .row {
    margin-bottom: 0px;
}
.info-proyect{
	background-image: url("../images/border-box-proyect.png");
	background-color: #fff;
	background-position: right -8px top;
	background-repeat: repeat-y;
	width: 50%;
	float: left;
	padding: 10px;
}
.box-proyect.op2 .info-proyect{
	background-image: url("../images/border-box-proyect2.png");
}
.box-proyect h5{
	font-size: 1em;
}
.info-proyect p{
	margin: 0;
	font-size: 0.8em;
	line-height: 1.2em
}
.info-proyect img{
	width: 60px;
}
.info-proyect .star-user i {
    font-size: 1.6em;    
    margin: 0px;    
    letter-spacing: -5px;
}
.desc-proyect{	
	color: #fff;
	width: 50%;
	float: right;
	padding: 10px;
	text-align: center;
}
.desc-proyect h3{
	font-size: 1.6em;
	font-weight: 600;
	margin: 30px 0 0;
	line-height: 0.9em;
}
.desc-proyect p{
	margin-top: 0
}
.btn-negociar {
    border: solid 1px #fff;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}
.btn-negociar:hover{
	background-color: rgba(255,255,255,0.5);
	color: #263746;
}

.box-proyect-nego{
	background-color: transparent;
	margin-top: 20px;
}
.avatar-nego{
	float: left;
	margin-right: 10px;
	height: 70px;
}
.box-proyect-nego h3{
	color: #00C853;
	font-size: 1.5em;
	font-weight: 600;
	margin: 0;
	line-height: 0.9em;
}
.box-proyect-nego h5{
	font-size: 1.4rem;
	margin: 0;
}
.box-proyect-nego p{
	margin: 0;
	font-size: 14px;
}
.box-proyect-nego img{
	width: 60px;
}
.box-proyect-nego .star-user i {
    font-size: 1.5em;    
    margin: 0px;    
    letter-spacing: -5px;
}
.red-text.text-darken-2 i{
    font-size: 2.6em;
    margin-top: 10px
}

.bubble-left{
    background-color: #eceded;
    padding: 10px;
    width: 80%;        
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;   
    margin-bottom: 20px;
    position: relative; 
}
.bubble-left:after{
	background-color: #eceded;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	right: -100%;
}
.bubble-rigth{
	background-color: #00C853;	
    padding: 10px;
    width: 80%;    
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    margin-bottom: 20px;
    position: relative;
}
.bubble-rigth:after{
	background-color: #00C853;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: -100%;
}
.bubble-rigth h3 {
    font-size: 1.1rem;
    line-height: 110%;
    font-weight: 600;
    color: #fff;
    margin: 1rem 0 0;
}
.bubble-left h5,.bubble-rigth h5 {
    font-size: 1rem;
    line-height: 110%;
    margin: .82rem 0 0 0;
}
.bubble-left p, .bubble-rigth p {
    line-height: 20px;
}

.bubble-left img, .bubble-rigth img{
	width: 35px
}
.date-buble {
	color: #bdc3c7;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 10px;
}
.bubble-rigth .date-buble{
    right: 20px;
}

.box-businnes {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background-color: #fff;
padding-top: 10px;
}
.btn-action-bussines{
	text-align: center;
}
.info-money{
	background-color: #263746;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	font-size: 1.1em;
}
.info-money strong{
	color: #fff;
	font-size: 1.1em;
}
.btn-nego, .btn-aceptar, .btn-favorito {
    background-image: url(../images/icon-box-bussines.png);
    background-repeat: no-repeat;
    background-size: 300px;
    color: #bdc3c7;
    border: none;
    font-weight: 400;
    padding-top: 90px;
    width: 85px;
    display: inline-block;
    margin: 0 10px 10px;
}
.btn-nego:hover{
	background-position: left bottom 21px;
	color: #fed22c;
}
.btn-aceptar {
    background-position: center top;    
}
.btn-aceptar:hover {
    background-position: center bottom 21px;
    color: #fed22c;
}
.btn-favorito {
    background-position: right -2px top;    
}
.btn-favorito:hover {
    background-position: right -2px bottom 21px;
    color: #fed22c;
}
.btn-favorito-big{
	background-image: url(../images/icon-favorite-big.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #bdc3c7;
    border: none;
    font-weight: 400;
    padding-top: 120px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 10px 10px;
}
.btn-favorito-box{
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 5px 2px 0 0;
    right: 0;
}
.btn-favorito-box img{
	width: 30px;
    height: 30px;
}
.shareFriends{
	margin: 10px 0;
	display: block;
}

/*Login*/
.login{
	background-image: url("../images/bgLogin.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
.top-login{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%
}
.login .container {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.terms{
	line-height: 11px;
	color: #fff
}
.terms a{
	color: #fff;
	text-decoration: underline;
}

/*Splash*/
.splash{
	background-color: #fff;
}
.splash img{
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) 
}

/*Earning*/
.info-user-earning {
	background-color: #263746;
	padding: 20px 0 0;
	text-align: center;
	color: #fff;
}
.info-user-earning h2{
	font-weight: 600;
	margin-top: 0;
}
.middle-li-historic{
	float: left;
	width: 50%;
}
.qualify-earning{
	margin-top: 20px;
	text-align: center;
}
.qualify-earning:hover i, .qualify-earning:hover p{
	color: #ffd600;
}
.qualify-earning i{
	color: #dedede;
	font-size: 4em;
}
.qualify-earning p{
	margin-top: 0;
}
.qualify-star li{
	display: inline-block;	
    font-size: 4em;
}
.qualify-star li a i{
    color: #dedede;
    font-size: 0.8em;
}
.qualify-star li a.active i, .qualify-star li a:hover i{
	color: #ffd600;
}


/*Responsive*/
@media screen and (min-width: 1250px) {
    .login {
        background-size: 100%;
    }
}
@media screen and (min-width: 992px) {
    .nav-app, .footer-nav{
    	display: none;
    }    
}
@media screen and (min-width: 768px) {
	.splash img{
		width: auto;
	}
}
@media screen and (max-width: 992px) {
    .nav-descktop, .pag-nav, .profile .card-content, .card-title {
        display: none;
    }
    .footer-nav{
    	display: block;
    }
    .nav-app{
    	display: block;
    	background-color: #fff;
    	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
    }
    .nav-app a{
    	color: #263746;    
    }
    .side-nav li {;
        border-top: solid 1px #dedede;
    }
    .side-nav li.side-user {
        border: none ;
    }
    .side-nav li.side-user .user-view{
     margin-bottom: 0;
    }
    .side-nav li > a {
        color: rgba(0, 0, 0, 0.87);
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 58px;
        line-height: 58px;
        padding: 0px 32px;
    }
    .side-nav a {
        padding: 0;
    }
    .side-nav .user-view, .side-nav .userView {
        padding: 16px 16px 5px;
    }
    nav.nav-app .brand-logo {
    	margin-top: 0px;
    	background: transparent;
    	box-shadow: none;
    	font-size: 1.1rem;
		font-weight: 400;
		line-height: 38px;
	}
	.profile .wrapper{
		margin-top: 40px;
	}
	.profile .edit-profile{
		margin: 20px 0 60px;
	}		
	.profile .edit-profile .card{
		margin-top: 0;
	}
	nav .button-collapse{
		margin: 0;
	}
	.settings-investment .wrapper {
	    margin: 0px 0 60px;
	}
}
@media screen and (max-width: 768px) {
	.login {
	    background-position: right top;
	}
	.access .form-general-data {
        margin-top: 0px;
    }
    .btn-find-proyects .btn-large.go-to-back{
    	bottom: 85px;
    }
    .btn-favorito-big{
	    margin: 20px auto 20px
	}
}

@media screen and (max-width: 550px) {
	.brand-register .responsive-img {
        max-width: 40%;
        margin-top: 20px;
    }
    .iconAccess .responsive-img {
        max-width: 60%;
    }
}

/* Personalizados */
.login{
	background: url(../../assets/images/bgLogin.jpg) repeat!important; 
}
.error{
	border-bottom: 2px solid red!important; 
}
.prestatario,.inversionista,.next_pay{
	display: none;
}
.noUi-handle{
	background-color: #26A69A!important;

}
.wrapper,.no-lists,.avatar-nego{
	display: none;
}
.proximo-pago{
	display: none!important;
}
.noUi-handle{
	border-radius: 9px!important;
	box-shadow: none!important;
}
.noUi-connect{
	background:#CCC!important;
}
.noUi-horizontal{
	height: 4px!important;
}
.noUi-horizontal .noUi-handle{
	width:22px!important;
	height:22px!important;
	top:-9px!important;
}
.noUi-tooltip{
	font-size: 12px!important;
}
.noUi-handle:after, .noUi-handle:before{
	content: none!important;
}
.noUi-horizontal .noUi-tooltip{
	bottom:35px!important;
}
textarea.materialize-textarea{
	background-color: #F0F0F0!important;
	padding: 0 6px;
	min-height: 110px;
}